research-analyst-agent/Research and Analyst agent.json
{
  "name": "Research and Analyst agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -208,
        -32
      ],
      "id": "7f740066-6250-4f81-8591-603419a7243e",
      "name": "When chat message received",
      "webhookId": "3bcadba8-2e38-4210-880b-c9a0839a7285"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "you are an amazing analysis agent that will go through each topic enter in the chat deeply and profound."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        -32
      ],
      "id": "d7e4bfd6-38f3-4f2d-bf67-4d12e7ca77fb",
      "name": "analysis agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ],
      "id": "79665553-14fb-43eb-8ec5-916ada31bdb4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "xK4qsCu3GVmcRylo",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 14
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "b22ee705-85dc-4490-95d7-646ebcdd17fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        176,
        208
      ],
      "id": "cf5fb23e-0875-47a0-9c63-5b918c2b19e1",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "this is an Research agent that will think about the topic given in the chat interface and will provide the facts and source as well",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        416,
        80
      ],
      "id": "39ac875d-0e13-4159-9f0c-8826888946b0",
      "name": "Research agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        336
      ],
      "id": "a8befbfa-90b0-4c09-aa81-71ff3b4a5189",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0uNMp6wFdZ7Sm5ON",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        560,
        336
      ],
      "id": "912936bd-2fbd-47e1-8257-493b88fe10b3",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "nwzFUTUY2cf5Y35m",
          "name": "SerpAPI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "analysis agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "analysis agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "analysis agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "analysis agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research agent": {
      "ai_tool": [
        [
          {
            "node": "analysis agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "08ad1ead-39f6-407c-bc58-b1167a62d2fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f83126bc42ab59525b1715ebcda23bb6debe9c5a0c55200bb296c39ab1847105"
  },
  "id": "Wf0BZBMEVIVdxxx8",
  "tags": []
}