rag-pipeline/Rag pipeline.json
{
  "name": "Rag pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yJuWk2Ullst25z3PxB150-z98jNucISF",
          "mode": "list",
          "cachedResultName": "n8nworkflows",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yJuWk2Ullst25z3PxB150-z98jNucISF"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "9ace0b5d-ea70-4960-9f18-1e81d15fc9c4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bb82EqjGr4Z37TPD",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -112,
        -64
      ],
      "id": "ccbde33a-4a94-4b53-9816-e20292777655",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bb82EqjGr4Z37TPD",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample1",
          "mode": "list",
          "cachedResultName": "sample1"
        },
        "options": {
          "pineconeNamespace": "CV"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        -64
      ],
      "id": "8aa36a76-86e6-4294-aceb-1c08c083bbd0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PleCF4n4UkrTDDZ6",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        160
      ],
      "id": "1836303f-43bf-4c09-90f2-2d75f8861604",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5Utyqj1S3sRhWJ18",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        112
      ],
      "id": "2273f7a1-3c9c-4fa8-8d5c-2b6d199105de",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        272
      ],
      "id": "1855fa24-0a72-4e33-878a-6c4a7de6c58e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        576,
        -64
      ],
      "id": "fc80a96c-7f45-49eb-89cc-ffe75e650543",
      "name": "When chat message received",
      "webhookId": "375a8a33-4960-4be1-a90a-d4135e354342"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -32
      ],
      "id": "00910e3a-7275-4def-aba4-51715742b345",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        672,
        176
      ],
      "id": "86eefc71-ca10-4e42-946a-2524f835155e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5Utyqj1S3sRhWJ18",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "fetch the document from the pdf document . Name , about me , skills and project he have dont",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample1",
          "mode": "list",
          "cachedResultName": "sample1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        160
      ],
      "id": "60e2280a-fb16-4e1d-9881-f1092075052e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "PleCF4n4UkrTDDZ6",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        336
      ],
      "id": "00b4d754-0a27-4953-9f45-435d7885e684",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5Utyqj1S3sRhWJ18",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3e32a46e-cfd5-443c-97fe-940c8045b840",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f83126bc42ab59525b1715ebcda23bb6debe9c5a0c55200bb296c39ab1847105"
  },
  "id": "jJ7VVpOEUm5paAax",
  "tags": []
}